---
layout: default
refactor: true
---

{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.img_path | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>
                {% include no-linenos.html content=post.content %}
                {{ content | markdownify | strip_html | truncate: 200 | escape }}
              </p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- posted date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {% include datetime.html date=post.date lang=lang %}

                <!-- categories -->
                {% if post.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in post.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if post.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}

 <!-- 눈 내리는 효과 적용  <script src="https://app.embed.im/snow.js" defer></script>-->
 <script defer>
     // 원본 코드 출처: https://embed.im/snow
   
   // HTML 요소 가져오기
   var embedimSnowContainer = document.getElementById("embedim--snow");
   
   // 요소가 없을 경우에만 실행
   if (!embedimSnowContainer) {
       // 랜덤 값을 생성하는 함수
       function getRandomValue(min, max) {
           return Math.floor(Math.random() * (max - min + 1)) + min;
       }
   
       // 눈의 스타일 정의
       var snowStyle = '.embedim-snow {position: absolute;width: 10px;height: 10px;background: rgb(204,204,204);border-radius: 50%;margin-top: -10px}';
       
       // 눈의 HTML 정의
       var snowHtml = '';
       
       // 눈 효과를 생성하는 반복문
       for (var i = 1; i < 50; i++) {
           snowHtml += '<i class="embedim-snow"></i>';
   
           var randomX = (getRandomValue(0, 1000000) * 0.0001);
           var randomOpacity = getRandomValue(1, 5000) * 0.0001;
           var randomTranslate = getRandomValue(3, 8) * 10;
           var randomScale = getRandomValue(0, 10000) * 0.0001;
   
           // 눈의 스타일 추가
           snowStyle += '.embedim-snow:nth-child(' + i + ') {'
               + 'opacity: ' + randomOpacity.toFixed(2) + ';'
               + 'transform: translate(' + randomX.toFixed(2) + 'vw, -10px) scale(' + randomScale.toFixed(2) + ');'
               + 'animation: fall-' + i + ' ' + getRandomValue(10, 30) + 's -' + getRandomValue(0, 30) + 's linear infinite'
               + '}';
   
           // 눈의 애니메이션 정의
           snowStyle += '@keyframes fall-' + i + ' {'
               + randomTranslate + '% {'
               + 'transform: translate(' + (randomX + getRandomValue(-100000, 100000) * 0.0001).toFixed(2) + 'vw, ' + randomTranslate + 'vh) scale(' + randomScale + ')'
               + '}'
               + 'to {'
               + 'transform: translate(' + (randomX + (getRandomValue(-100000, 100000) * 0.0001) / 2).toFixed(2) + 'vw, 105vh) scale(' + randomScale + ')'
               + '}'
               + '}';
       }
   
       // 눈 컨테이너 생성 및 추가
       embedimSnowContainer = document.createElement('div');
       embedimSnowContainer.id = 'embedim--snow';
       embedimSnowContainer.innerHTML = '<style>#embedim--snow {position: fixed;left: 0;top: 0;bottom: 0;width: 100vw;height: 100vh;overflow: hidden;z-index: 9999999;pointer-events: none}' + snowStyle + '</style>' + snowHtml;
       document.body.appendChild(embedimSnowContainer);
   }
 </script>